RESEND_API_KEY=re_xxx
QUOTE_TO_EMAIL=surpreet@gloood.in
QUOTE_FROM_EMAIL=gloood <noreply@gloood.in>
TURNSTILE_SECRET=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
NEXT_PUBLIC_GTM_ID=GTM-XXXXXXX
KV_REST_API_URL=
KV_REST_API_TOKEN=
